#container{
    background-color: #FFFFFF;
    /* border: 2px solid red; */
    justify-content: center;
    /* text-align: center; */
    width:800px;
    height: 700px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
}
#container img{
    width: 800px;
    height: 450px;   
    border-radius: 10px;
}
#item{
    display: flex;
    justify-content: space-between;
}
#item img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
  margin-left: 10px;
}
#item h4{
    color: #000;
    margin-left: -288px;

}
#item p{
    color: black;
  margin-left: -291px;

  margin-top: -19px;
}
.right-side{
    color: black;
}
h2{
  color: #000;
  font-size: 24px;
  margin-left: 21px;
  width: 50%;
  margin-top: -2px;
}
h5{
     color: rgba(17, 17, 17, 0.60);
     margin-left: 21px;
     margin-top: -10px;
    
}
.button{
    border: none;
}